$include-layout-classes: false !default

@if $include-layout-classes
  .make-relative
    position: relative !important

  .float-left
    float: left !important

  .float-right
    float: right !important